html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
}

.square-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}

.grid-cell {
    opacity: 0;
}

/* Slider style - courtesy of W3Schools */
.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #04aa6d;
    cursor: pointer;
}