html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.square-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 50vw;
    height: 50vw;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid black;
    box-sizing: border-box;
}