html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 800px;
}

.header {
    display: flex;
    justify-content: center;
}

.toy {
    width: 700px;
    border: 2px solid black;
    border-radius: 6%;
    padding: 50px 30px 30px;
}

.square-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    flex-wrap: wrap;
}

.grid-cell {
    opacity: 0;
}

.buttons {
    padding: 10px;
}

/* Slider style - courtesy of W3Schools */
.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #04aa6d;
    cursor: pointer;
}